#ifndef SECRETS_H
#define SECRETS_H

#define WIFI_SSID      "YOUR"
#define WIFI_PASSWORD  "YOUR"

#define MQTT_HOST      "YOUR"
#define MQTT_USER      "YOUR"
#define MQTT_PASSWORD  "YOUR"

#define WIFI_SSID2     "YOUR"
#define EAP_IDENTITY   "YOUR"
#define EAP_PASSWORD   "YOUR"

#define SERVER_URL "YOUR"

#endif